<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SearchItem</servlet-name>
  	<display-name>SearchItem</display-name>
  	<description></description>
  	<servlet-class>rpc.SearchItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecommendItem</servlet-name>
  	<display-name>RecommendItem</display-name>
  	<description></description>
  	<servlet-class>rpc.RecommendItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemHistory</servlet-name>
  	<display-name>ItemHistory</display-name>
  	<description></description>
  	<servlet-class>rpc.ItemHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>rpc.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>rpc.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>rpc.Register</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>SearchItem</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecommendItem</servlet-name>
  	<url-pattern>/recommendation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemHistory</servlet-name>
  	<url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>
